/* NAVBAR */

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

}


/* LEFT */

.nav-left {

  display: flex;
  align-items: center;

}


/* TEXT LOGO */

.logo-text {

  font-size: 28px;
  font-weight: bold;

  text-decoration: none;

}

.logo-os {

  color: #2563eb; /* Royal Blue */

}

.logo-simlab {

  color: #22c55e; /* Green */

  margin-left: 4px;

}


/* RIGHT LINKS */

.nav-right {

  display: flex;
  gap: 30px;

}

.nav-right a {

  text-decoration: none;
  color: #374151;
  font-weight: 500;

}

.nav-right a.active {

  color: #2563eb;
  background: #eef2ff;

  padding: 6px 14px;
  border-radius: 8px;

}


/* MOBILE RESPONSIVE */

@media (max-width: 768px) {

  .navbar {

    padding: 12px 20px;

  }

  .logo-text {

    font-size: 22px;

  }

  .nav-right {

    gap: 15px;
    font-size: 14px;

  }

}
